.settings/*
bin-debug/*
bin-release/*
html-template/*
bin/*
doc/*
obj/*
.metadata/*
*/bin-debug/*
*/html-template/*
*/libs/*
Swft/*



*/.svn/*
.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project

Thumbs.db
.DS_Store
