<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName></ServerName><LauncherName></LauncherName><ExternalBrowser></ExternalBrowser><Mappings><Mapping-Name>[source path] Swft</Mapping-Name><Location>/Users/stewymac07/Documents/experiments/flash/games/Swift-Examples/Swft</Location><ResolveCFC>true</ResolveCFC></Mappings><VariableMappings></VariableMappings></ResourceDetails>